<%= form_with model: [:admin, school] do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>

  <%= f.submit %>
<% end %>
